# **Simple Linear Regression Assignment**

### **Getting required packages**

In [56]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

### **uploading data and viewing dataframe**

In [57]:
df = pd.read_csv("house_dataset.csv")
df.head()

   area  bedrooms  bathrooms  floors          price
0  1360         2          1       2   75561.009869
1  4272         3          3       1  197449.640308
2  3592         1          2       1  180621.795096
3   966         1          2       2   45234.416477
4  4926         2          1       2  232342.452693

### Understandind data

In [62]:
print("==============    shape of dataset    ===========================")
print()
print()
df.shape
print(f"Sahe of dataset is {df.shape}")
print()
print("======================   Columns   =========================")
print()
print()


df.columns
print(f"columns of dataset: {df.columns}")
print()
print()
print("=================   Infomation of dataset   ==================")
print()
print(df.info())

print()
print()
print("==================    Summary statistics   ===================")
print()
print(df.describe())

==============    shape of dataset    ===========================


Sahe of dataset is (1000, 5)

======================   Columns   =========================


columns of dataset: Index(['area', 'bedrooms', 'bathrooms', 'floors', 'price'], dtype='object')


=================   Infomation of dataset   ==================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   area       1000 non-null   int64
 1   bedrooms   1000 non-null   int64
 2   bathrooms  1000 non-null   int64
 3   floors     1000 non-null   int64
 4   price      1000 non-null   float64
dtypes: float64(1), int64(4)
memory usage: 39.2 KB
None


==================    Summary statistics   ===================

              area     bedrooms    bathrooms       floors          price
count  1000.000000  1000.000000  1000.000000  1000.000000    1000.000000
mean   2815.422000     2.990000     1.973000     1.489000  141138.789936
std    1255.514921     1.427564     0.820332     0.500129   63233.613042
min     503.000000     1.000000     1.000000     1.000000    7243.014853
25%    1749.500000     2.000000     1.000000     1.000000   88009.083503
50%    2862.500000     3.000000     2.000000     1.000000  141225.486263
75%    3849.500000     4.000000     3.000000     2.000000  191752.725820
max    4999.000000     5.000000     3.000000     2.000000  267776.513729

### Data wrangling/cleaning

In [66]:
print("================Sum of missing values column-wise==================")
print(df.isna().sum())


print("================Sum of duplicate values ==================")
print()
print(f"Duplicate values in dataset are {df.duplicated().sum()}")

================Sum of missing values column-wise==================
area         0
bedrooms     0
bathrooms    0
floors       0
price        0
dtype: int64
================Sum of duplicate values ==================

Duplicate values in dataset are 0

In [ ]:
# df["price_per_sqft"] = df['price']/df['area']
df = df.assign(price_per_sqft=df['price']/df['area'])

### Input and output variables:

In [ ]:
X = df.drop(['price','price_per_sqft'], axis=1)  # Features excluding the target variable
y = df['price']  # Target variable

In [ ]:
# Feature scaling
ss = StandardScaler()
X = ss.fit_transform(X)

### features destribution

In [ ]:
import seaborn as sns
df.hist(bins=20, figsize=(12,12))
plt.show()

### visualize relationships

In [ ]:
sns.heatmap(df.corr(), annot=True)

### spliting data, and training models

In [ ]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=681)

In [ ]:
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
y_linear_pred = linear_reg.predict(X_test)

In [ ]:
ridge = Ridge()
ridge.fit(X_train, y_train)
y_ridge_pred = ridge.predict(X_test)

In [ ]:
lasso = Lasso()
lasso.fit(X_train, y_train)
y_lasso_pred = lasso.predict(X_test)

### Measuring model performance:

In [ ]:
print("===================Root_mean_square_error of Linear_reg============")
print()
print()
mse=mean_squared_error(y_test, y_linear_pred)
print()
print()
print(f"Mean square error of Linear regression  is \n {mse}")
print()
print()
print("==================Root_mean_square_error of Linear_reg============")
print()
print()
mse=mean_squared_error(y_test, y_ridge_pred)
print(f"Mean square error of Linear regression  is \n {mse}")
print()
print()
print("==================Root_mean_square_error of Linear_reg============")
print()
print()
mse=mean_squared_error(y_test, y_lasso_pred)
print(f"Mean square error of Linear regression  is \n {mse}")
print()
print()

### Visualizationing

In [ ]:
# Linear regression Residuals vs Actuals
residuals = y_test - y_linear_pred
plt.scatter(y_test, residuals, c=residuals, cmap='RdYlGn')
plt.xlabel("y_Actual")
plt.ylabel("y_Predicted")
plt.title("residuals vs actual")
plt.show()

# Linear regreesion Actual vs Predicted
plt.scatter(y_test, y_linear_pred, c='lightgreen')
plt.plot(y_test, y_test, c='red')
plt.legend(['y_Predicted', 'y_Actual'])
plt.xlabel("y_Actual")
plt.ylabel("y_Predicted")
plt.title("actual vs predicted")
plt.show()

In [ ]:

# ridge Residuals vs Actuals
residuals = y_test - y_ridge_pred
plt.scatter(y_test, residuals, c=residuals, cmap='RdYlGn')
plt.xlabel("y_Actual")
plt.ylabel("y_Predicted")
plt.title("Residuals vs Actual")
plt.show()

# ridge Actual vs Predicted
plt.scatter(y_test, y_ridge_pred, c='lightblue')
plt.plot(y_test, y_test, c='green')
plt.legend(['y_Predicted', 'y_Actual'])
plt.xlabel("y_Actual")
plt.ylabel("y_Predicted")
plt.title("Actual vs Predicted")
plt.show()

In [ ]:
## Residuals vs Actuals
residuals = y_test - y_lasso_pred
plt.scatter(y_test, residuals, c=residuals, cmap='RdYlGn')
plt.xlabel("y_Actual")
plt.ylabel("y_Predicted")
plt.title("Residuals vs Actual")
plt.show()

# lasso Actual vs Predicted
plt.scatter(y_test, y_lasso_pred, c='pink')
plt.plot(y_test, y_test, c='green')
plt.legend(['y_Predicted', 'y_Actual'])
plt.xlabel("y_Actual")
plt.ylabel("y_Predicted")
plt.title("Actual vs Predicted")
plt.show()

# Thank you